/* SETTING */
body {
    border: 1px solid #000;
    background: #000;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.wrap {
    width: 600px;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: space-between;
}

.hide {
    display: none;
}

.show {
    border: 3px solid rgba(255, 255, 255, 0.877);
}
.bonus-show {
    border: 3px solid rgb(247, 183, 7);
}
/* //SETTING */

/* SECTION1 */
.section1 {
    background: rgb(70, 6, 61);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 100px;
    margin: 0;
    padding: 0;
}
/* //SECTION1 */

/* SECTION2 */
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(54, 29, 71);
    color: #FFF;
}

/* 플레이어 박스 */
#pNum {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    padding: 0;
    align-items: center;
}

/* 컴퓨터 박스 */
#cNum {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    padding: 0;
    align-items: center;
}

/* 번호 스타일 */
#num-bord {
    list-style: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 5px;
}
#cNum li, #pNum li {
    list-style: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 5px;
}
#pNum #pBonus {
    color: rgb(59, 198, 223);
}

/* nav */
.nav {
    display: flex;
    flex-direction: column;
}
.nav li {
    list-style: none;
    margin-right: 10px;
}
.nav li:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 235, 69);
}
.nav li:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: rgb(61, 133, 13);
}
.nav li:nth-child(3) {
    font-size: 18px;
    font-weight: bold;
    color: rgb(180, 206, 32);
}
.nav li:nth-child(4) {
    font-size: 16px;
    font-weight: bold;
    color: rgb(191, 194, 178);
}

/* 색상 */
.yellow {
    background: yellow;
}
.blue {
    background: blue;
}
.red {
    background: red;
}
.gray {
    background: gray;
}
.green {
    background: green;
}

/* //SECTION2 */

/* SECTION3 */
.section3 {
    background: rgb(70, 6, 61);
    color: #FFF;
}
/* //SECTION3 */