/* SETTING */
body {
    background: #000;
    color: #FFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* SECTION1 */
.header {
    width: 100%;
    height: 100%;
    background: rgb(192, 46, 143);
    background: linear-gradient(to top,
    rgba(192, 46, 143, 0.1),
    rgba(192, 46, 143, 0.4),
    rgba(192, 46, 143, 0.7),
    rgba(192, 46, 143, 0.9));
}
.header .logo {
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 80px;
}

.header #tag {
    display: flex;
    justify-content: space-around;
}

.header a {
    text-decoration: none;
    color: #FFF;
    transition: 0.4s; 
}

.header a:hover, .header button:hover {
    transition: 0.4s;
    color: rgb(30, 218, 86);
}

/* SECTION2 */
.section2 {
    width: 100%;
    overflow: hidden;
}
/* slide-area */
#slide-area {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 100%);
}

#slide-area li {
    width: 100%;
    transition: 0.4s;
}
/* slide_01 */


/* slide_02 */
#slide_02 .game-list {
    display: grid;
    grid-template-columns: repeat(3,300px);  
    justify-content: space-around;
}

.game-list a {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-indent: -9999em;
    transition: 0.5s;
    width: 200px;
    height: 200px; 
    margin: 40px;
}

.multifly:hover, .word-game:hover,
.base-ball:hover, .tictacto:hover,
.lotto:hover{
    transition: 0.5s;
    transform: scale(1.2, 1.2);
}

.multifly:active, .word-game:active,
.base-ball:active, .tictacto:active {
    transition: 0.5s;
    transform: translate(0, -10%);
}

.game-list .multifly {
    background-image: url('./images/multiply.png');
    background-size: cover;
}

.word-game {
    background-image: url('./images/wordGame.png');
    background-size: cover;
    border-radius: 100px;
}

.base-ball {
    background-image: url('./images/base-ball.png');
    background-size: cover;
}

.tictacto {
    background-image: url('./images/tictacto.jpg');
    background-size: contain;
    border-radius: 100px;
}   
.lotto {
    background-image: url('./images/lotto.jpg');
    background-size: contain;
    border-radius: 100px; 
}

@media (max-width: 1920px) {
    body {
        background: blue;
    }
}
@media (max-width: 1280px) {
    body {
        background: red;
    }
}
@media (max-width: 640px) {
    body {
        background: green;
    }
}